.img-block {
    width: 100%;
    height: 600px;
    margin: 40px auto 78px;
}

.img-block__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-block__description {
    margin: 16px 0 0;
    font: var(--font-xs);
    font-weight: 500;
    line-height: 1.6;
}