.mobile-price {
  margin: 120px 15px;
}

@media screen and (max-width: 600px) {
  .prices.page__wrapper .wrapper {
    margin: 120px 0 120px;
  }
}

@media screen and (max-width: 600px) {
  .mobile-price__tile {
    font: var(--font-h-l);
    font-size: 2.06rem;
  }
}

.mobile-price .collapsing__container {
  border-color: var(--color-l-grey);
}

.mobile-price .collapsing__bottom-line:last-of-type {
  border-bottom: 1px solid var(--color-l-grey);
}

.mobile-price .collapsing__title {
  margin: 17px 0;
  font: var(--font-h-s);
}

@media screen and (max-width: 600px) {
  .mobile-price .collapsing__title {
    margin: 15px 0;
  }
}

.mobile-price .collapsing__text {
  position: relative;
  margin: 8px 0 8px;
  padding: 0 0 0 20px;
  font: var(--font-xs);
}

.mobile-price .collapsing__text:last-of-type {
  margin: 8px 0 16px;
  font: var(--font-xs);
}

.mobile-price .collapsing__text.collapsing__text_dots::before {
  position: absolute;
  top: 6px;
  left: 0;
  border: solid 3.5px var(--color-accent);
  border-radius: 50%;
  content: "";
}

.mobile-price .collapsing__container {
  border: none;
}

.mobile-price .collapsing__container:first-of-type {
  border-top: 1px solid var(--color-l-grey);
}
