.page-title__content {
  margin: 168px auto 0;
  text-align: center;
  color: var(--color-black);
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .page-title__content {
    margin: 150px auto 0;
  }
}

.page-title__content.fixed {
  margin: 0 auto;
  transform: translate(-50%, -50%);
}

.hero .page-title__content {
  position: absolute;
  max-width: 70%;
  width: max-content;
  color: var(--color-white);
  top: 50%;
  left: 50%;
}

@media screen and (max-width: 600px) {
  .hero .page-title__content {
    max-width: 80%;
  }
}

.page-title__description {
  font: var(--font-h-s);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

@media screen and (max-width: 600px) {
  .page-title__description {
    font-size: 0.75rem;
    letter-spacing: 0.7px;
  }
}

.page-title__title {
  font: var(--font-h-xl);
  margin: 0;
}

@media screen and (max-width: 600px) {
  .page-title__title {
    font-size: 2.3rem;
  }
}
