@import url("../../components/PriceCards/PriceCards.css");
@import url("../../components/PriceDetails/PriceDetails.css");
@import url("../../components/Workflow/Workflow.css");
@import url("../../components/MobilePriceDetails/MobilePriceDetails.css");

.prices.page__wrapper {
  margin: 0 auto;
  background-color: var(--color-white3);
  width: 100%;
}

@media screen and (max-width: 600px) {
  .prices.page__wrapper {
    margin: 0 15px;
    width: auto;
  }
}
