@import url("../../components/PriceCards/PriceCards.css");
@import url("../../components/PriceDetails/PriceDetails.css");
@import url("../../components/Workflow/Workflow.css");
@import url("../../components/MobilePriceDetails/MobilePriceDetails.css");

.prices {
    margin: 0 auto;
    width: 100%;
    background-color: var(--color-white3);
}

@media screen and (max-width: 600px) {
    .prices{
        width: auto;
        margin: 0 15px;
    }
}
