.page-gallery {
  margin: 120px 0px 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .page-gallery {
    margin: 80px 0 0;
  }
}

.page-gallery__title {
  margin: 0;
  font: var(--font-h-l);
}

@media screen and (max-width: 600px) {
  .page-gallery__title {
    font-size: 2.06rem;
  }
}

.page-gallery__grid {
  width: 100%;
  margin: 42px auto;
  display: grid;
  grid-gap: 20px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 200px;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .page-gallery__grid {
    margin: 32px auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* grid-gap: 16px;
    grid-template-columns: 1fr; */
    /* grid-auto-rows: 330px; */
  }
}

.page-gallery__img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .page-gallery__img {
    width: 100%;
    height: 450px;
    min-height: 100%;
    min-width: 100%;  
  }
}

@media screen and (max-width: 450px) {
  .page-gallery__img {
    width: 100%;
    height: 330px;
    min-height: 100%;
    min-width: 100%;  
  }
}

.page-gallery__grid :nth-child(7n + 1){
  grid-column: span 3;
  grid-row: span 2;
}

.page-gallery__grid :nth-child(7n + 2){
  grid-column: 4 / span 5;
  grid-row: span 2;
}
.page-gallery__grid :nth-child(7n + 3){
  grid-column: span 4;
  grid-row: span 2;
}
.page-gallery__grid :nth-child(7n + 4){
  grid-column: 5 / span 4;
  grid-row: span 2;
}
.page-gallery__grid :nth-child(7n + 5){
  grid-column: span 2;
  grid-row: span 1;
}
.page-gallery__grid :nth-child(7n + 6){
  grid-column: 3 / span 6;
  grid-row: span 2;
}
.page-gallery__grid :nth-child(7n + 7){

  grid-column: span 2;
  grid-row: span 1;
}

