.under-construction {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  background: var(--color-black);
  height: 100vh;
  text-align: center;
}

.under-construction__img {
  margin: 0 auto;
  width: 250px;
}

.under-construction__title {
  color: var(--color-grey);
}
