.contacts-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-black);
}
.contacts__wrapper {
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .contacts__wrapper {
    margin: 60px 0 0;
  }
}

.contacts .page-title__content {
  color: var(--color-white);
}

.contacts-page__container {
  margin: 136px auto 240px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .contacts-page__container {
    flex-direction: column;
    margin: 60px 15px 0;
  }
}
