.header__contact {
  height: fit-content;
  margin: auto 0 auto 30px;
  font-weight: 600;
  color: inherit;
  opacity: 0.85;
  border: 0;
  background: transparent;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}

.header_dark .header__contact {
  border-bottom: 1px solid var(--color-black);
}
