@import url("../../components/ProjectSample/ProjectSample.css");
@import url("../../components/TextBlock/TextBlock.css");
@import url("../../components/ImageBlock/ImageBlock.css");
@import url("../../components/SliderBlock/SliderBlock.css");
@import url("../../components/FeatureBlock/FeatureBlock.css");
@import url("../../components/GalleryBlock/GalleryBlock.css");
@import url("../../components/OtherProjects/OtherProjects.css");
@import url("../../components/DetailsBlock/DetailsBlock.css");
@import url("../../components/Article/Article.css");


.project-wrapper {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.project-page {
    color: var(--color-black);
}