@import url("../../components/ProjectSample/ProjectSample.css");
@import url("../../components/TextBlock/TextBlock.css");
@import url("../../components/ImageBlock/ImageBlock.css");
@import url("../../components/ComparisonSlider/ComparisonSlider.css");
@import url("../../components/FeatureBlock/FeatureBlock.css");
@import url("../../components/GalleryBlock/GalleryBlock.css");
@import url("../../components/OtherProjects/OtherProjects.css");
@import url("../../components/DetailsBlock/DetailsBlock.css");
@import url("../../components/Article/Article.css");
@import url("../../components/common/ProgressBar/ProgressBar.css");


.project-wrapper {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}

@media screen and (max-width: 600px) {
    .project-wrapper {
        margin-bottom: 60px;
    }
}

.project-page {
    color: var(--color-black);
}
