.project-wrapper.article {
  margin: 80px auto 0px;
}

.article__title {
  margin: 0;
  font: var(--font-h-l);
}

@media screen and (max-width: 600px) {
  .article__title {
    font-size: 2.06rem;
  }
}
