.header-lang {
  position: relative;
  margin: auto 0;
  padding: 0 15px;
}

.header-lang__item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.header-lang__item {
  text-transform: uppercase;
  padding: 0 7px 0 0;
}

.header-lang__bottom-arrow {
  width: 11px;
  transition: all 0.1s ease-out;
}

.header-lang__bottom-arrow.active {
  width: 11px;
  transform: rotate(180deg);
}

.header-lang__options {
  display: none;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 5px 5px 5px 0;
  left: 0;
  background-color: var(--color-white);
}

.header-lang__options.active {
  display: block;
  color: var(--color-black);
}

.header-lang__options-item {
  padding: 0 15px 0;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.header-lang__options-item:hover {
  color: var(--color-accent);
}

.header-lang .header-lang__item-container {
  transition: color 0.3s ease-out;
}

.header-lang:hover .header-lang__item-container {
  color: var(--color-accent);
}
