.terms__text {
  padding: 50px 100px;
  overflow: scroll;
  text-transform: initial;
  white-space: pre-wrap;
  font-size: 16px;
  color: var(--color-l-grey);
}

.modal__container .terms__text {
  padding: 80px 20px;
}