.feature {
  border-top: 1px solid var(--color-l-grey);
  margin: 0 15px;
}

.feature:first-of-type {
  border-top: 1px solid var(--color-l-grey);
  margin-top: 40px;
}

.feature:last-of-type {
  border-top: 1px solid var(--color-l-grey);
  border-bottom: 1px solid var(--color-l-grey);
}

.feature .collapsing__bottom-line  {
  display: none;
}

.feature .collapsing__container {
  border: none;
}

details[open] .feature__text * {
  animation-name: invisiblyGrowFontSize, fadeIn;
  animation-duration: 500ms, 200ms;
  animation-delay: 0ms, 500ms;
}