.feature {
  border-top: 1px solid var(--color-l-grey);
  margin: 0 15px 0 0;
}

@media screen and (max-width: 600px) {
  .feature {
    margin: 0;
  }
}

.feature:first-of-type {
  border-top: 1px solid var(--color-l-grey);
  margin-top: 40px;
}

@media screen and (max-width: 600px) {
  .feature:first-of-type {
    margin-top: 30px;
  }
}

.feature:last-of-type {
  border-top: 1px solid var(--color-l-grey);
  border-bottom: 1px solid var(--color-l-grey);
}

.feature__text p {
  display: flex;
  padding: 0;
  margin: 0;
  transition: all 1s ease-out;
  cursor: pointer;
  font: var(--font-m);
  line-height: 2;
}

@media screen and (max-width: 600px) {
  .feature__text p {
    font: var(--font-xs);
  }
}

.feature .collapsing__bottom-line {
  display: none;
}

.feature .collapsing__container {
  border: none;
}

details[open] .feature__text * {
  animation-name: invisiblyGrowFontSize, fadeIn;
  animation-duration: 500ms, 200ms;
  animation-delay: 0ms, 500ms;
}
