.project-item {
  max-width: 100%;
  height: 100%;
  scale: 0.8;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1rem;
  transition: scale 0.7s ease-out, color 0.3s ease-out;
}

.project-item:hover {
  color: var(--color-accent);
}

.project-item.active {
  scale: 1;
}

@media screen and (max-width: 1000px) {
  .project-item {
    letter-spacing: 0.07rem;
  }
}

@media screen and (max-width: 800px) {
  .project-item {
    letter-spacing: 0.05rem;
  }
}

.project-item__img-wrapper {
  overflow: hidden;
}

.project-item__img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease-out;
}

.project-item__img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  .project-item__img {
    height: 325px;
  }
}

.project-item__title {
  font: var(--font-h-s);
  margin: 30px 0 0;
}

@media screen and (max-width: 600px) {
  .project-item__title {
    font: var(--font-l);
    margin: 22px 0 0;
    width: 70%;
    line-height: 1.3;
  }
}

.project-item__link-container {
  display: flex;
  justify-content: flex-start;
  margin: 24px 0 0;
}

@media screen and (max-width: 800px) {
  .project-item__link-container {
    margin: 16px 0 0;
  }
}

.project-item__link {
  text-transform: uppercase;
  font: var(--font-m);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .project-item__link {
    font-size: 0.75rem;
  }
}

.project-item__hr {
  width: 40px;
  margin: auto 0 auto 15px;
}
