.project-item {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: .1rem;
}

@media screen and (max-width: 1000px) {
	.project-item {
    letter-spacing: .07rem;
  }
}

@media screen and (max-width: 800px) {
	.project-item {
    letter-spacing: .05rem;
  }
}

.project-item__img {
  background:  center / cover no-repeat;
  height: 100%;
}

@media screen and (max-width: 600px) {
	.project-item__img {
    height: 325px;
  }
}

.project-item__title {
  font: var(--font-h-s);
  margin: 30px 0 0 ;
}

@media screen and (max-width: 600px) {
	.project-item__title {
    font: var(--font-l);
    margin: 22px 0 0;
    width: 70%;
    line-height: 1.3;
  }
}

.project-item__link-container {
  display: flex;
  justify-content: flex-start;
  margin: 24px 0 0;
}

@media screen and (max-width: 800px) {
	.project-item__link-container {
    margin: 16px 0 0;
  }
}

.project-item__link {
  text-transform: uppercase;
  font: var(--font-m);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
	.project-item__link {
    font-size: .75rem;
  }
}

.project-item__hr {
  width: 40px;
  margin: auto 0 auto 15px;
}

/*.wtf {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/
