@keyframes search-popup-opens {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes search-popup-hides {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.1);
  }
}

.search-popup {
  position: absolute;
  transform: scale(0);
  opacity: 0.9;
  z-index: 1;
  transition: transform 0.4s ease-in-out;
  background-color: #34383a;
  width: 100vw;
  height: 100vh;
}

.search-popup.active {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
}

.search-popup__close-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  opacity: 0.7;
  width: 30px;
}

.search-popup__search-field {
  margin: auto;
  border: none;
  border-bottom: 1px solid #6f7376;
  background: transparent;
  padding: 10px;
  width: 100%;
  max-width: 70vw;
  height: fit-content;
  color: #fff;
  font-size: 1.625rem;
  text-align: center;
}

.search-popup__search-field::placeholder {
  color: #fff;
  font: var(--font-s);
  font-size: 1.625rem;
  line-height: 2;
  text-align: center;
}

.search-popup__search-field:focus {
  outline: solid 0.5px #7d8083;
  color: #fff;
  text-align: center;
}
