@import url("../common/Avatars/Avatars.css");
@import url("./InputTextField/InputTextField.css");

.form {
  padding: 240px 46px 240px;
  margin: auto;
  max-width: 1440px;
  background-color: var(--color-black);
  color: var(--color-white);
}

@media screen and (max-width: 600px) {
  .form {
    padding: 120px 15px 120px;
  }
}

.form__wrapper {
  display: grid;
  grid-template-areas:
    "title form"
    "subtitle form"
    "avatar form"
    "avatar form";
  justify-content: flex-start;
}



@media screen and (max-width: 600px) {
  .form__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.form__title {
  font: var(--font-h-l);
  grid-area: title;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .form__title {
    font-size: clamp(1rem, 8vw, 2.06rem);
    white-space: nowrap;
  }
}

.form__subtitle {
  margin: 24px 0 8px;
  grid-area: subtitle;
  width: 70%;
  font: var(--font-ml);
  line-height: 1.6;
}

@media screen and (max-width: 600px) {
  .form__subtitle {
    width: 100%;
  }
}

.form__container {
  grid-area: form;
  display: grid;
  margin: 0 0 0 10px;
  grid-template-areas:
    "name name"
    "contact country"
    "choose-type choose-type"
    "types ."
    "submit submit";
}

@media screen and (max-width: 600px) {
  .form__container {
    margin: 46px 0 0;
    grid-template-areas:
      "name"
      "contact"
      "country"
      "choose-type"
      "types"
      "submit";
  }
}

.form_text-style {
  margin: 0 0 24px;
  line-height: 1.5;
  font-size: 1.125rem;
  background: transparent;
  border: none;
  color: var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
}

.form_text-style_label {
  position: absolute;
}

.form_text-style:focus {
  border: none;
  border-bottom: 1px solid var(--color-accent);
  outline: 1px solid transparent;
}
.form__name {
  grid-area: name;
  position: relative;
}

.form__contact {
  grid-area: contact;
}

.form_text-style::placeholder {
  opacity: 0.8;
}

.form_text-style_label {
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 1.125rem;
  color: var(--color-grey);
  opacity: 0.8;
  transition: all 0.25s ease-out;
}

.form__name_input:focus ~ .form_text-style_label,
.form__name_input:not(:placeholder-shown) ~ .form_text-style_label {
  top: -20px;
  left: 0px;
  font-size: 0.95rem;
}

.form__name_input:invalid {
  border-bottom: 1px solid #d22f2f;
}

.form__name_input:placeholder-shown {
  border-bottom: 1px solid var(--color-grey);
  color: transparent;
  opacity: 0.8;
}

.form__country {
  margin: 0 0 24px 20px;
  grid-area: country;
}

@media screen and (max-width: 600px) {
  .form__country {
    margin: 0 0 24px;
  }
}

.form__choose-type {
  margin: 40px 0 15px 0;
  grid-area: choose-type;
}

.form__radio-container {
  display: flex;
  grid-area: types;
  margin: 10px 0 0 10px;
}

@media screen and (max-width: 600px) {
  .form__radio-container {
    display: flex;
    flex-direction: column;
  }
}

.form__radio-container_1 {
  font-size: 1.125rem;
  white-space: nowrap;
}

.form__radio-container_2 {
  margin: 0 0 0 35px;
  font-size: 1.125rem;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .form__radio-container_2 {
    margin: 10px 0 0;
  }
}

.form__radio {
  appearance: none;
  margin: 0 8px 0 0;
  transform: translateY(0.075em);
  width: 1rem;
  height: 1rem;
  border: 0.15em solid var(--color-grey);
  border-radius: 50%;
}

.form__radio:checked {
  background-color: var(--color-accent);
  border: 0.32rem solid var(--color-black);
  outline: 0.125em solid var(--color-accent);
}

.form__submit-wrapper {
  grid-area: submit;
}

.form__submit-container {
  margin: 60px 0 0 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey);
  height: min-content;
  width: fit-content;
  white-space: nowrap;
  padding: 0 0 9px;
  cursor: pointer;
}
.form__submit {
  margin: auto 13px auto 0;
  text-transform: uppercase;
  font-size: 1.125rem;
  background: transparent;
  border: none;
  color: var(--color-grey);
  text-align: start;
  line-height: 1;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .form__submit-container {
    padding: 0 0 1px;
  }
}

@media screen and (max-width: 600px) {
  .form__submit {
    font: var(--font-xs);
    letter-spacing: 0.03em;
    color: var(--color-white);
    font-weight: 500;
  }
}

.form__submit-arrow {
  margin: auto 0;
}

