@import url("../common/Avatars/Avatars.css");
@import url("./InputTextField/InputTextField.css");

@keyframes successForm {
  0% {
    color: initial;
  }
  50% {
    color: transparent;
  }
  100% {
    color: initial;
  }
}

.form {
  margin: auto;
  color: var(--color-white);
  background-color: var(--color-black);
}

.modal .form {
  position: relative;
  margin: 0 0 0 auto;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .main-page .form {
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (max-width: 600px) {
  .form {
    margin: 0 auto;
    padding: 60px 15px 120px;
  }
}

.form__wrapper {
  display: grid;
  transition: all 0.25s ease-out;
  margin: auto;
  box-sizing: border-box;
  padding: 240px 46px 240px;
  grid-template-areas:
    "title form"
    "subtitle form"
    "avatar form"
    "avatar form";
  justify-content: space-between;
  max-width: 1440px;
  /* box-sizing: border-box; */
}

@media screen and (max-width: 900px) {
  .form__wrapper {
    display: flex;
    padding: 180px 46px 180px;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .form__wrapper {
    padding: 100px 0;
  }
}

@media screen and (max-width: 600px) {
  .main-page .form__wrapper {
    padding: 180px 0;
  }
}

.form__title {
  margin: 0;
  font: var(--font-h-l);
  grid-area: title;
}

@media screen and (max-width: 600px) {
  .form__title {
    font-size: clamp(1rem, 8vw, 2.06rem);
    white-space: nowrap;
  }
}

.form__subtitle {
  margin: 24px 0 8px;
  width: 70%;
  line-height: 1.6;
  grid-area: subtitle;
  font: var(--font-ml);
}

@media screen and (max-width: 600px) {
  .form__subtitle {
    margin: 18px 0 8px;
    width: 100%;
    font: var(--font-m);
  }
}

.form__container {
  display: grid;
  margin: 0 0 0 10px;
  grid-area: form;
  grid-template-areas:
    "name name"
    "contact country"
    "choose-type choose-type"
    "types ."
    "submit submit";
}

@media screen and (max-width: 900px) {
  .form__container {
    margin: 5px 0 0;
    grid-template-areas:
      "name"
      "contact"
      "country"
      "choose-type"
      "types"
      "submit";
  }
}

.form_text-style {
  margin: 0 0 24px;
  border: none;
  background: transparent;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
}

.form_text-style_label {
  position: absolute;
}

.form_text-style:focus {
  border: none;
  border-bottom: 1px solid var(--color-accent);
  outline: 1px solid transparent;
}
.form__name {
  position: relative;
  grid-area: name;
}

.form__contact {
  grid-area: contact;
}

.form_text-style::placeholder {
  opacity: 0.8;
}

.form_text-style_label {
  position: absolute;
  top: 4px;
  left: 4px;
  opacity: 0.8;
  transition: all 0.25s ease-out;
  font-size: 1.125rem;
  color: var(--color-grey);
}

.form__name_input:focus ~ .form_text-style_label,
.form__name_input:not(:placeholder-shown) ~ .form_text-style_label {
  top: -20px;
  left: 0px;
  font-size: 0.95rem;
}

.form__name_input:invalid {
  border-bottom: 1px solid #d22f2f;
}

.form__name_input:placeholder-shown {
  opacity: 0.8;
  color: transparent;
  border-bottom: 1px solid var(--color-grey);
}

.field__input_surname {
  display: none;
}

.form__country {
  margin: 0 0 24px 20px;
  grid-area: country;
}

@media screen and (max-width: 600px) {
  .form__country {
    margin: 0 0 24px;
  }
}

.form__choose-type {
  margin: 20px 0 15px;
  font-size: 1.125rem;
  grid-area: choose-type;
}

@media screen and (max-width: 600px) {
  .form__choose-type {
    margin: 25px 0 15px;
  }
}

.form__radio-container {
  display: flex;
  margin: 0;
  grid-area: types;
}

@media screen and (max-width: 600px) {
  .form__radio-container {
    display: flex;
    margin: 7px 0;
    flex-direction: column;
  }
}

.form__radio-container_1 {
  cursor: pointer;
  font-size: 1.125rem;
  white-space: nowrap;
}

.form__radio-container_2 {
  margin: 0 0 0 35px;
  cursor: pointer;
  font-size: 1.125rem;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .form__radio-container_2 {
    margin: 10px 0 0;
  }
}

.form__radio {
  transform: translateY(0.075rem);
  transition: all 0.25s ease-out;
  margin: 0 8px 0 0;
  border: 0.32rem solid var(--color-black);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  appearance: none;
  background-color: transparent;
  outline: 0.125rem solid var(--color-grey);
}

.form__radio:hover {
  border: 0.32rem solid var(--color-black);
  outline: 0.125rem solid var(--color-accent);
}

.form__radio:checked {
  border: 0.32rem solid var(--color-black);
  background-color: var(--color-accent);
  outline: 0.125rem solid var(--color-accent);
}

.form__radio-label {
  transition: all 0.25s ease-out;
  color: var(--color-grey);
}
.form__radio-label:hover {
  color: var(--color-l-grey);
}
.form__radio:checked ~ .form__radio-label {
  color: #f0f3f5;
}

@media screen and (min-width: 750px) {
  .page_light .modal .form__radio {
    border: 0.32rem solid var(--color-white3);
    cursor: pointer;
  }

  .page_light .modal-prices__item-container:hover .form__radio,
  .page_light .modal .form__radio-container_1:hover .form__radio,
  .page_light .modal .form__radio-container_2:hover .form__radio {
    border: 0.32rem solid var(--color-white3);
    outline: 0.125rem solid var(--color-grey);
  }

  .page_light .modal .form__radio:checked {
    border: 0.32rem solid var(--color-white3);
    background-color: var(--color-accent);
    outline: 0.125rem solid var(--color-accent);
  }

  .page_light .modal .form__radio-label {
    color: var(--color-grey);
  }

  .page_light .modal .form__radio-label:hover {
    color: var(--color-accent);
  }

  .page_light .modal .form__radio:checked ~ .form__radio-label {
    color: var(--color-black);
  }

  .page_light .modal .field__input {
    color: var(--color-black);
  }
}

.form__submit-wrapper {
  grid-area: submit;
}

.page__wrapper > .form .form__submit-wrapper_go-to {
  display: none;
}

.form__submit-container {
  display: flex;
  transition: all 0.25s ease-out;
  margin: 60px 0 0 0;
  width: fit-content;
  height: min-content;
  padding: 0 0 9px;
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid var(--color-grey);
  white-space: nowrap;
}

.form__submit-container:hover {
  border-bottom: 1px solid var(--color-accent);
}

.form__submit {
  transition: color 0.25s ease-out;
  margin: auto 13px auto 0;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1;
  text-align: start;
  text-transform: uppercase;
  color: var(--color-grey);
}

.form__submit-container:hover .form__submit {
  color: var(--color-accent);
}

@media screen and (max-width: 600px) {
  .form__submit-container {
    margin: 35px 0 0 0;
    padding: 0 0 1px;
  }
}

@media screen and (max-width: 600px) {
  .form__submit {
    font-weight: 500;
    color: var(--color-white);
    font: var(--font-xs);
    letter-spacing: 0.03rem;
  }
}

.form__submit-arrow {
  position: relative;
  transition: all 0.25s ease-out;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-image: url(../../images/right-arr.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.form__submit-arrow:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease-out;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../../images/right-arr_hover.webp);
  background-color: #191919;
}

.page__wrapper .form__submit-container:hover .form__submit-arrow {
  margin: 0 0 0 9px;
}

.form__submit-container:hover .form__submit-arrow:after {
  opacity: 1;
}

.form__container.price__options {
  grid-template-areas:
    "price-options price-options"
    "name    name     "
    "contact   country  "
    "choose-type choose-type"
    "types     .      "
    "submit    submit   ";
}

.modal-prices {
  margin: 0 0 40px;
  grid-area: price-options;
}
