@import url('../common/Avatars/Avatars.css');

.form {
  background-color: var(--color-black);
  color: var(--color-white);
}

.form__wrapper {
  padding: 240px 0;
  margin: 0 46px;
  display: grid;
  grid-template-areas:
    "title form"
    "subtitle form"
    "avatar form"
    "avatar form";
}

@media screen and (max-width: 600px){
  .form__wrapper {
    padding: 100px 0;
    margin: 0 15px;
    display: grid;
    grid-template-areas:
      "title"
      "subtitle"
      "form"
      "form";
  }
}

.form__title {
  font: var(--font-h-l);
  grid-area: title;
  margin: 0;
}

.form__subtitle {
  margin: 24px 0 8px;
  grid-area: subtitle;
  width: 70%;
}

.form__container {
  grid-area: form;
  display: grid;
  grid-template-areas:
    "name name"
    "contact country"
    "choose-type choose-type"
    "types ."
    "submit submit";
}

@media screen and (max-width: 600px){
  .form__container {
    grid-template-areas:
    "name"
    "contact"
    "country"
    "choose-type"
    "types"
    "submit";
  }
}


.form_text-style {
  margin: 0 0 24px;
  line-height: 1.5;
  font-size: 1.125rem;
  background: transparent;
  border: none;
  color: var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
}

.form_text-style:focus {
  border: none;
  outline: 1px solid var(--color-accent);
}
.form__name {
  grid-area: name;
}

.form__contact {
  grid-area: contact;
}
.form__country {
  margin: 0 0 24px 20px;
  grid-area: country;
}

@media screen and (max-width: 600px){
  .form__country {
    margin: 0 0 24px;
  }
}

.form__choose-type {
  margin: 24px 0 15px;
  grid-area: choose-type;
}

.form__radio-container {
  display: flex;
  grid-area: types;
}

@media screen and (max-width: 600px){
  .form__radio-container {
    display: flex;
    flex-direction: column;
  }
}

.form__radio-container_1 {
  font-size: 1.125rem;
  white-space: nowrap;
}

.form__radio-container_2 {
  margin: 0 0 0 25px;
  font-size: 1.125rem;
  white-space: nowrap;
}

@media screen and (max-width: 600px){
  .form__radio-container_2 {
    margin: 10px 0 0;
  }
}

.form__radio {
  appearance: none;
  margin: 0 8px 0 0;
  transform: translateY(0.075em);
  width: 1rem;
  height: 1rem;
  border: 0.15em solid var(--color-grey);
  border-radius: 50%;
}

.form__radio:checked {
  background-color: var(--color-accent);
  border: 0.32rem solid var(--color-black);
  outline: 0.125em solid var(--color-accent);
}

.form__submit-container {
  grid-area: submit;
  margin: 56px 0 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey);
  height: min-content;
  width: fit-content;
  white-space: nowrap;
  padding: 0 0 9px;
}
.form__submit {
  margin: auto 13px auto 0;
  text-transform: uppercase;
  font-size: 1.125rem;
  background: transparent;
  border: none;
  color: var(--color-grey);
  text-align: start;
  line-height: 1;
}

.form__submit-arrow {
  margin: auto 0;
}
