.rates.wrapper {
  border-bottom: 1px solid var(--color-l-grey);
}

.page__wrapper .rates.wrapper {
  margin: 80px auto 120px;
}

.rates__rates-container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 30%;
}

.rates__rate {
  margin: auto;
  padding: 20px 20px;
  font: var(--font-h-s);
}

.rates__option-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-l-grey);
}

.rates__option-title {
  margin: 00;
  padding: 20px 0;
  width: 30%;
  font: var(--font-m);
}

.rates__option-position {
  display: flex;
  width: 15%;
  text-align: center;
}

.rates__option-pic {
  margin: auto;
  padding: 0 20px 0 0;
  height: 13.5px;
}

.prices-page .collapsing__bottom-line {
  margin: 0;
  border: none;
}
