.page__wrapper .about.wrapper {
  margin: 160px auto 0;
  display: flex;
}


@media screen and (max-width: 600px){
  .page__wrapper .about.wrapper {
    margin: 30px auto 0;
  }
}

.about__side-text-container {
  align-self: end;
  width: 19%;
  margin: 0 35px 0 50PX;
}

@media screen and (max-width: 600px){
  .about__side-text-container {
    display: none;
  }
}

.about__side-text-title {
  font: var(--font-h-l);
  font-size: 4.125rem;
  font-weight: 700;
  margin: 0 0 10px;
}
.about__side-text-subtitle {
  font: var(--font-m);
  margin: 25px 0 0  ;
}

.about__text-container {
  width: 62%;
  margin: 0 0 0 35px;
}

@media screen and (max-width: 600px){
  .about__text-container {
    width: 100%;
    margin: 0 0 35px;
    line-height: 1.4;
  }
}

.about__title {
  margin: 0;
  font: var(--font-m);
  font-weight: 700;
  color: var(--color-l-grey);
  letter-spacing: 0.22rem;
  line-height: 1.2;
  text-transform: uppercase;
  opacity: 0.5;
  white-space: nowrap;
}

@media screen and (max-width: 600px){
  .about__title {
    display: none;
  }
}

.about__text {
  font: var(--font-ml);
  font-size: 1.625rem;
  margin: 32px 0 0;
  line-height: 1.4;
}

@media screen and (max-width: 600px){
  .about__text {
    font: var(--font-l);
    font-weight: 300;
  }
}