.modal .form.wrapper {
  margin: 0;
}

.modal .form__container {
  margin: 40px 0 0;
}

/* .modal .field.name { */
  /* margin: 0 0 10px; */
/* } */

.modal__container.orderForm {
  margin: auto 0;
}

@media screen and (min-width: 750px) {
  .page_light .modal .form {
    background: var(--color-white3);
    color: var(--color-black);
  }
}
