@import url(../common/Logo/Logo.css);
@import url(./HeaderNavbar/HeaderNavbar.css);
@import url(./HeaderSearch/HeaderSearch.css);
@import url(./SearchPopup/SearchPopup.css);
@import url(HeaderOrderBtn/HeaderOrderBtn.css);
@import url(./HeaderLanguageSelector/HeaderLanguageSelector.css);

@keyframes header {
  0% {
    transform: translateY(-100%);
  }
  67% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1;
  font: var(--font-s);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.header.header_light {
  color: var(--color-white);
}

.header.header_dark {
  color: var(--color-black);
}

.header__wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 5px 15px;
  max-width: 1350px;
  width: 100%;
}
