@import url(../common/Logo/Logo.css);
@import url(../common/Navbar/Navbar.css);
@import url(./HeaderSearch/HeaderSearch.css);
@import url(./SearchPopup/SearchPopup.css);
@import url(./HeaderCTABtn/HeaderCTABtn.css);
@import url(./HeaderLanguageSelector/HeaderLanguageSelector.css);
@import url(./HeaderBurger/HeaderBurger.css);
@import url(../Modal/Modal.css);

@keyframes header {
  0% {
    transform: translateY(-100%);
  }
  67% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 2;
  font: var(--font-s);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition-property: all; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
}
 
.header.hide {
  top: -80px;
}

@media screen and (max-width: 600px) {
	.header {
    font: var(--font-m);
  }
}


.header.header_light {
  color: var(--color-white);
}

.header.header_dark {
  color: var(--color-black);
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .35), rgba(0, 0, 0, 0));
}

.header__wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 20px 46px;
  width: 100%;
  z-index: 3;
}

@media screen and (max-width: 600px) {
	.header__wrapper {
    margin: 5px 15px;
  }
}
