.carousel-main .carousel.wrapper {
  margin: 50px auto 0;
}

.carousel {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  height: 620px;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .carousel {
    height: 325px;
  }
}

.page__wrapper .wrapper.carousel {
  padding: 0;
  max-width: 100vw;
}

.carousel__slides {
  --index: 1;
  display: flex;
  position: absolute;
  top: 0;
  left: 120vw;
  transition: all 0.5s ease-out;
  transition: left 1s ease-out;
}

.carousel__slides.active {
  left: calc(-10vw + (var(--index) * -48vw));
}

@media screen and (max-width: 600px) {
  .carousel__slides.active {
    left: calc(-100vw + (var(--index) * -100vw));
  }
}
.carousel__slide {
  display: flex;
  margin: auto 0;
  padding: 0 2vw;
  width: 44vw;
  height: 543px;
}

@media screen and (max-width: 600px) {
  .carousel__slide {
    padding: 0 2vw;
    width: 96vw;
    height: 300px;
  }
}

.carousel____img-wrapper {
  overflow: hidden;
}

.carousel__img {
  transition: transform 0.4s ease-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__img:hover {
  transform: scale(1.2);
}

.carousel__description-container {
  display: flex;
  flex-direction: row;
  transform: rotate(180deg);
  transition: all 0.4s ease-out;
  padding: 0 15px 0 0;
  height: 100%;
  writing-mode: vertical-lr;
}

.carousel__description {
  transition: all 0.4s ease-out;
  font: var(--font-ml);
}

.carousel__slide:hover .carousel__description {
  color: var(--color-accent);
}

@media screen and (max-width: 600px) {
  .carousel__description {
    font-size: 0.75rem;
  }
}

.carousel__description-line {
  transition: all 0.4s ease-out;
  margin: 0 auto 22px;
  border-top: 1px solid var(--color-white);
  background-color: var(--color-white);
  width: 1px;
  height: 45px;
}

.carousel__slide:hover .carousel__description-line {
  opacity: 0;
  margin: 0 auto 0;
  background-color: var(--color-accent);
  height: 0px;
}

.carousel__description-line_after {
  opacity: 0;
  transition: all 0.4s ease-out;
  margin: 0 auto 22px;
  border-top: 1px solid var(--color-white);
  border: none;
  background-color: var(--color-white);
  width: 1px;
  height: 0px;
}

.carousel__slide:hover .carousel__description-line_after {
  opacity: 1;
  margin: 22px auto 0;
  background-color: var(--color-accent);
  height: 45px;
}

.carousel__index-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 24.5vw 0 0;
  width: fit-content;
}

@media screen and (max-width: 600px) {
  .carousel__index-container {
    display: none;
  }
}

.carousel__index-item {
  margin: auto 19px;
  font: var(--font-xs);
  font-weight: 500;
}

.carousel__index-line {
  margin: auto 0;
  border: none;
  border-bottom: solid 1px var(--color-white);
  width: 26px;
  height: 0;
}

.carousel__arrow {
  position: relative;
  transition: all 2s ease-out;
  cursor: pointer;
  background-image: url(../../images/right-arrow.webp);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
}

.carousel__arrow_left {
  background-image: url(../../images/left-arrow.webp);
}

.carousel__arrow:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  background-image: url(../../images/right-arrow_hover.webp);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #191919;
  width: 100%;
  height: 100%;
  content: "";
}

.carousel__arrow_left::after {
  background-image: url(../../images/left-arrow_hover.webp);
}

.carousel__arrow:hover:after {
  opacity: 1;
}

.carousel .progress-bar {
  display: none;
}

@media screen and (max-width: 600px) {
  .carousel .progress-bar {
    display: block;
    margin: 0 auto;
    width: 96vw;
  }
}
