.prices.page__wrapper .workflow.wrapper {
  margin: 0 auto 240px;
}

@media screen and (max-width: 750px) {
  .prices.page__wrapper .workflow.wrapper {
    margin: 0 auto 120px;
  }
}

.workflow__tile {
  margin: 125px auto 50px;
  width: fit-content;
  font: var(--font-h-l);
}

@media screen and (max-width: 600px) {
  .workflow__tile {
    margin: 25px 0 15px;
    font-size: 2.06rem;
  }
}

.workflow__item-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-l-grey);
  padding: 20px 0;
  font: var(--font-ml);
}

@media screen and (max-width: 600px) {
  .workflow__item-container {
    justify-content: flex-start;
    padding: 10px 0;
    font: var(--font-xs);
  }
}

.workflow__item-text {
  box-sizing: border-box;
  padding: 2px 0 2px 40px;
  width: 60%;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .workflow__item-text {
    margin: 0;
    padding: 2px 0 2px 30px;
    width: 100%;
    font: var(--font-m);
    text-transform: capitalize;
  }
}
