@keyframes invisiblyGrowFontSize {
  0% {
    font-size: 0;
    opacity: 0;
  }
  100% {
    font-size: 0.875rem;
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.collapsing__container {
  border-top: 1px solid var(--color-dark-grey);
}
.collapsing__bar {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  list-style: none;
}

.collapsing__title {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.collapsing__img {
  width: 14px;
  object-fit: contain;
  transition: all 0.25s ease-out;
}
.collapsing__text {
  display: flex;
  padding: 0 0 0 16px;
  margin: 0;
  transition: all 1s ease-out;
  cursor: pointer;
}

.collapsing__text.collapsing__text_dots {
  display: list-item;
  list-style: disc;
  margin: 0 0 0 16px;
  padding: 0 0 0 16px;
}

details[open] .collapsing__text {
  animation-name: invisiblyGrowFontSize, fadeIn;
  animation-duration: 500ms, 200ms;
  animation-delay: 0ms, 500ms;
}

details[open] .collapsing__img {
  transform: rotate(180deg);
}

.our-team__collapse-line {
  display: none;
}

.collapsing__bottom-line {
  display: block;
  color: var(--color-dark-grey);
  margin: 10px 0 0;
}
