.header__navbar {
  display: flex;
  margin: auto 0;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .header__navbar {
    display: none;
  }
}

.header__navbar-item {
  margin: auto;
  padding: 0 10px;
  transition: all 0.3s ease-out;
}

.header__navbar-item:hover {
  color: var(--color-accent);
}

.header__navbar-item.current {
  font: var(--font-s);
  color: var(--color-visited);
}
