.footer {
  background: var(--color-dark-grey);
  color: var(--color-white);
  font: var(--font-s);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.footer > .wrapper {
  margin: 80px auto 54px;
  padding: 0 46px;
  max-width: 1990px;
  display: flex;
  gap: 77px;
}

@media screen and (max-width: 1000px) {
  .footer > .wrapper {
    margin: 60px 0 40px;
    gap: 30px;
  }
}

@media screen and (max-width: 600px) {
  .footer > .wrapper {
    margin: 40px 0 30px;
    padding: 0 15px;
    flex-direction: column;
    color: var(--color-m-grey);
    gap: 15px;
  }
}

.footer .logo {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .footer .logo {
    display: none;
  }
}

.footer__nav-container,
.footer__links-container,
.footer__contacts-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.footer__contacts-container {
  margin: 0 0 0 auto;
  align-items: end;
}

@media screen and (max-width: 600px) {

  .footer__contacts-container {
    order: 1;
    align-items: flex-start;
    margin: 0;
  }
  .footer__links-container {
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    order: 2;
  }
}

@media screen and (max-width: 750px) {
  .footer__nav-container {
    display: none;
  }
}

.footer__contacts-email {
  margin: 0;
  letter-spacing: 0.07rem;
  text-transform: capitalize;
  text-transform: lowercase;
  display: inline-block;
  font: var(--font-h-m);

}
.footer__contacts-email:first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .footer__contacts-email {
    font: var(--font-l);
    font-size: clamp(.75rem, 5vw, 1.25rem);
    color: var(--color-white);
    margin: 0 0 20px;
  }
}

.footer__contacts-link {
  display: flex;
}


@media screen and (max-width: 1000px) {
  .footer__nav-item {
    font-size: 0.75rem;
  }

  .footer__contacts-link {
    font-size: 0.75rem;
  }
  .footer__contacts-email {
    font: var(--font-l);
    font-size: clamp(.75rem, 2vw, 1.25rem);
  }
}

@media screen and (max-width: 600px) {
  .footer__contacts-link {
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    margin: 0 0 5px;
  }

  .footer__contacts-pic {
    width: 15px;
  }
}

.footer__contacts-pic {
  margin: auto 10px auto 0;
  height: 20px;
}

.footer__hr {
  margin: auto;
  padding: 0 46px;
  max-width: 1990px;
}

@media screen and (max-width: 600px) {
  .footer__hr {
    margin: auto;
    width: 90%;
    box-sizing: border-box;
  }
}

.footer > .wrapper:last-of-type {
  margin-top: 32px;
  margin-bottom: 32px;
  justify-content: space-between;
}

.footer__terms {
  text-transform: capitalize;
  letter-spacing: normal;
}

@media screen and (max-width: 600px) {
  .footer > .wrapper:last-of-type {
    margin-top: 32px;
    margin-bottom: 32px;
    justify-content: center;
    gap: 5px;
  }

  .footer__terms {
    order: 1;
    margin: auto;
  }

  .footer__copyright {
    order: 2;
    margin: auto;
  }
}
