.footer {
  background: var(--color-dark-grey);
  color: var(--color-white);
  font: var(--font-s);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.footer > .wrapper {
  margin-top: 80px;
  margin-bottom: 54px;
  display: flex;
  gap: 77px;
}

@media screen and (max-width: 600px){
  .footer > .wrapper {
    flex-direction: column;
  }
}

.footer .logo {
  margin: 0;
}


.footer__nav-container,
.footer__links-container,
.footer__contacts-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.footer__contacts-container {
  margin: 0 0 0 auto;
  align-items: end;
}

@media screen and (max-width: 600px){
  .footer__nav-container {
    display: none;
  }
  .footer__contacts-container {
    order: 1;
    align-items: flex-start;
  }
  .footer__links-container {
    order: 2;
  }
}

.footer__contacts-email {
  margin: 0;
  letter-spacing: 0.07rem;

  text-transform: capitalize;
  font: var(--font-h-m);
}

.footer__contacts-link {
  display: flex;
}

.footer__contacts-pic {
  margin: auto 10px auto 0;
}

.footer__hr {
  margin: auto 46px;
}

@media screen and (max-width: 600px){
  .footer__hr {
    margin: auto 0;
  }
}

.footer > .wrapper:last-of-type {
  margin-top: 32px;
  margin-bottom: 32px;
  justify-content: space-between;
}

.footer__terms {
  text-transform: capitalize;
  letter-spacing: normal;
}

@media screen and (max-width: 600px){

  .footer > .wrapper:last-of-type {
    margin-top: 32px;
    margin-bottom: 32px;
    justify-content: center;
    gap: 16px;
  }

  .footer__terms {
    order: 1;
    margin: auto;
  }

  .footer__copyright {
    order: 2;
    margin: auto;
  }
}