.footer {
  background: var(--color-dark-grey);
  color: var(--color-white);
  font: var(--font-s);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.footer > .wrapper {
  display: flex;
  gap: 77px;
  margin: 80px auto 54px;
  padding: 0 46px;
  max-width: 1990px;
}

@media screen and (max-width: 1000px) {
  .footer > .wrapper {
    gap: 30px;
    margin: 60px 0 40px;
  }
}

@media screen and (max-width: 600px) {
  .footer > .wrapper {
    flex-direction: column;
    gap: 15px;
    margin: 40px 0 30px;
    padding: 0 15px;
    color: var(--color-m-grey);
  }
}

.footer .logo {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .footer .logo {
    display: none;
  }
}

.footer__nav-container,
.footer__links-container,
.footer__contacts-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__contacts-container {
  align-items: end;
  margin: 0 0 0 auto;
}

@media screen and (max-width: 600px) {
  .footer__contacts-container {
    align-items: flex-start;
    order: 1;
    margin: 0;
  }
  .footer__links-container {
    order: 2;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 750px) {
  .footer__nav-container {
    display: none;
  }
}

.footer__contacts-email {
  display: inline-block;
  margin: 0;
  font: var(--font-h-m);
  letter-spacing: 0.07rem;
  text-align: end;
  text-transform: capitalize;
  text-transform: lowercase;
}

.footer__contacts-email:first-letter {
  text-transform: uppercase;
}

.footer__contacts-link {
  display: flex;
}

.footer__nav-item,
.footer__contacts-email,
.footer__contacts-link {
  transition: color 0.25s ease-out;
  color: inherit;
}

.footer__nav-item:hover,
.footer__contacts-email:hover,
.footer__contacts-link:hover {
  color: var(--color-accent);
}

@media screen and (max-width: 1000px) {
  .footer__nav-item {
    font-size: 0.75rem;
  }

  .footer__contacts-link {
    font-size: 0.75rem;
  }
  .footer__contacts-email {
    font: var(--font-l);
    font-size: clamp(0.75rem, 2vw, 1.25rem);
  }
}

@media screen and (max-width: 600px) {
  .footer__contacts-email {
    margin: 0 0 20px;
    width: fit-content;
    color: var(--color-white);
    font-size: 1.2rem;
  }
}

.footer__contacts-pic {
  margin: auto 10px auto 0;
  height: 20px;
}

@media screen and (max-width: 600px) {
  .footer__contacts-link {
    margin: 0 0 5px;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
  }

  .footer__contacts-pic {
    width: 15px;
    height: 15px;
  }
}

.footer__hr {
  margin: auto;
  border: none;
  border-top: 1px solid var(--color-grey);
  padding: 0 46px;
  max-width: 1990px;
}

@media screen and (max-width: 600px) {
  .footer__hr {
    box-sizing: border-box;
    margin: auto;
    width: 90%;
  }
}

.footer > .wrapper:last-of-type {
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
}

.footer__terms {
  transition: color 0.25s ease-out;
  cursor: pointer;
  color: inherit;
  letter-spacing: normal;
  text-transform: capitalize;
}

.footer__terms:hover {
  color: var(--color-accent);
}

@media screen and (max-width: 600px) {
  .footer > .wrapper:last-of-type {
    justify-content: center;
    gap: 5px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .footer__terms {
    order: 1;
    margin: auto;
  }

  .footer__copyright {
    order: 2;
    margin: auto;
  }
}
