.prices.page__wrapper .wrapper {
  box-sizing: border-box;
  margin: 80px auto 0;
}

@media screen and (max-width: 600px) {
  .prices.page__wrapper .wrapper {
    box-sizing: border-box;
    margin: 40px auto 0;
    padding: 0;
  }
}

.price__cards {
  display: flex;
  flex-direction: column;
  margin: 80px auto;
}

@media screen and (max-width: 1350px) {
  .price__cards {
    padding: 0 100px;
  }
}

.price__cards-title {
  margin: 25px 0;
  font: var(--font-h-l);
}

@media screen and (max-width: 1350px) {
  .price__cards-title {
    padding: 0 100px;
  }
}

@media screen and (max-width: 600px) {
  .price__cards-title {
    margin: 25px 0 15px;
    padding: 0;
    font-size: 2.06rem;
  }
}

/* @media screen and (max-width: 600px) {
  .price__cards {
  }
} */

.price__cards-container {
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 0 0;
}

@media screen and (max-width: 1350px) {
  .price__cards-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 100px;
  }
}

@media screen and (max-width: 600px) {
  .price__cards-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto;
    padding: 0;
  }
}

.price__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.2s ease-out;
  background-color: var(--color-white);
  padding: 20px;
  color: var(--color-dark-grey);
}

.price__card:last-of-type {
  background-color: var(--color-black);
  color: var(--color-white);
}

.price__scroll-button {
  display: none;
}

@media screen and (max-width: 600px) {
  .price__top-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .price__scroll-button {
    display: block;
    cursor: pointer;
    margin: auto 0;
    border-bottom: 1px solid var(--color-grey);
    padding: 5px 0 0px;
    color: var(--color-grey);
    font-size: 0.75rem;
  }
}

.price__title {
  margin: 3px 0 0;
  font: var(--font-h-s);
}

.price__price-container {
  display: flex;
  justify-content: flex-start;
}

.price__number {
  margin: 25px 0 0 5px;
  font-weight: 600;
  font-size: 2.75rem;
}

@media screen and (max-width: 600px) {
  .price__number {
    margin: 30px 0 0;
  }
}

.price__symbols {
  margin: auto auto 0 5px;
  color: var(--color-grey);
  font: var(--font-m);
}

.price__button {
  transition: all 0.2s ease-out;
  cursor: pointer;
  margin: 35px 0 0;
  border: none;
  background-color: var(--color-l-grey);
  padding: 15px 30px;
  width: 100%;
  color: var(--color-grey);
  font: var(--font-ml);
  font-weight: 500;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}

@media screen and (max-width: 1350px) {
  .price__button {
    background-color: rgba(181, 177, 177, 0.1);
  }
}

@media screen and (max-width: 600px) {
  .price__button {
    background-color: var(--color-l-grey);
    padding: 10px 30px;
    font: var(--font-m);
  }
}

.price__button:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.price__card:last-of-type .price__button {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.price__card:last-of-type .price__button:hover {
  color: var(--color-black);
}

.price__text {
  margin: 24px 0 0;
  font: var(--font-ml);
}

.price__options {
  margin: 0;
  font: var(--font-h-s);
}

@media screen and (max-width: 600px) {
  .price__options {
    margin: 0 0 20px;
  }
}

.price__option-container {
  display: flex;
  justify-content: space-between;
  gap: 7px;
  margin: 15px 0 0;
  width: fit-content;
  font: var(--font-h-s);
}

.price__icon {
  width: 14px;
  object-fit: contain;
  font: var(--font-h-s);
}

.price__option {
  font: var(--font-m);
}
