.our-team {
  margin: 240px 46px 0;
  /* display: grid;
  grid-template-columns: 7fr 5fr;
  grid-template-areas:
    "title photo"
    "jane photo"
    "alex photo"; */
  box-sizing: border-box;
}

@media screen and (max-width: 1300px) {
  .our-team {
    /* grid-template-areas:
      "title title"
      "jane photo"
      "alex photo";*/
  }
}

@media screen and (max-width: 600px) {
  .our-team {
    /* grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "photo"
      "jane"
      "alex";*/
  }
}

.our-team__member-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: center;
}

@media screen and (max-width: 750px) {
  .our-team__member-container {
    flex-direction: column;
  }
}

.our-team__member-icon {
  width: 20%;
  padding: 50px;
  object-fit: contain;
}

@media screen and (max-width: 1300px) {
  .our-team__member-icon {
    padding: 20px;
  }
}

@media screen and (max-width: 950px) {
  .our-team__member-icon {
    width: 30%;
  }
}

@media screen and (max-width: 750px) {
  .our-team__member-icon {
    padding: 40px 0 0 0;
  }
}

.our-team__title {
  grid-area: title;
  font: var(--font-h-l);
  margin: 0 10% 30px 0;
}

@media screen and (max-width: 1300px) {
  .our-team__title {
    margin: 0 auto 100px;
  }
}

@media screen and (max-width: 750px) {
  .our-team__title {
    font-size: 2.06rem;
    margin: 0 0 25px;
  }
}

.our-team__member {
  margin: auto 0;
  width: 60%;
}

@media screen and (max-width: 750px) {
  .our-team__member {
    width: 100%;
  }
}

.our-team__member:first-of-type {
  grid-area: jane;
}

.our-team__member:last-of-type {
  grid-area: alex;
}

.our-team__member-name {
  margin: 0;
  font: var(--font-h-m);
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .our-team__member-name {
    font-size: 1.5rem;
    margin: 15px 0 0;
  }
}

@media screen and (max-width: 600px) {
  .our-team__member-name {
    font-size: 1.25rem;
    margin: 42px 0 0;
  }
}

.our-team__member-about {
  font: var(--font-m);
  color: var(--color-m-grey);
  margin: 8px 0;
}

@media screen and (max-width: 600px) {
  .our-team__member-about {
    font: var(--font-xs);
  }
}

.our-team .collapsing__text {
  font: var(--font-xs);
  padding: 10px 0 10px 16px;
  border-left: 1px solid var(--color-accent);
}

.our-team__quote-text {
  padding: 10px 0 10px 16px;
  font: var(--font-ml);
  border-left: 1px solid var(--color-accent);
  line-height: 1.6;
}

@media screen and (max-width: 600px) {
  .our-team .collapsing__title {
    font: var(--font-l);
    margin: 18px 0 8px;
  }
}

@media screen and (max-width: 600px) {
  .our-team__collapse-line {
    display: block;
    color: var(--color-dark-grey);
    height: 1px;
    margin: 0;
  }
}

.our-team__collapse-line {
  display: none;
}

@media screen and (max-width: 600px) {
  .our-team__collapse-line {
    display: block;
    color: var(--color-dark-grey);
    height: 1px;
    margin: 0;
  }
}

.our-team__photo {
  /* grid-area: photo;
  width: 100%;
  height: 100%;
  object-fit: cover; */
  display: none;
}

/* @media screen and (max-width: 1000px) {
  .our-team__photo {
    height: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 800px) {
  .our-team__photo {
    height: 50%;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .our-team__photo {
    height: 420px;
    margin: 0 0 10px;
  }
} */

.our-team .collapsing__container {
  border-top: 1px solid var(--color-dark-grey);
}

.our-team .collapsing__bottom-line {
  border-bottom: 1px solid var(--color-dark-grey);
  padding: 10px 0 0;
}
