.our-team {
  margin: 240px 46px 0;
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-template-areas:
    "title photo"
    "jane photo"
    "alex photo";
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .our-team {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "photo"
      "jane"
      "alex";
  }
}

.our-team__title {
  grid-area: title;
  font: var(--font-h-l);
  margin: 0 10% 30px 0;
}

@media screen and (max-width: 600px) {
  .our-team__title {
    font-size: 2.06rem;
    margin: 0 0 45px;
  }
}

.our-team__member {
  margin: 0 10% 0 0;
}

@media screen and (max-width: 600px) {
  .our-team__member {
    margin: 0;
  }
}

.our-team__member:first-of-type {
  grid-area: jane;
}

.our-team__member:last-of-type {
  grid-area: alex;
}

.our-team__member-name {
  margin: 0;
  font: var(--font-h-m);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .our-team__member-name {
    font-size: 1.25rem;
    margin: 42px 0 0;
  }
}

.our-team__member-about {
  font: var(--font-m);
  color: var(--color-m-grey);
  margin: 8px 0;
}

@media screen and (max-width: 600px) {
  .our-team__member-about {
    font: var(--font-xs);
  }
}

.our-team .collapsing__text  {
  font: var(--font-xs);
  padding: 10px 0 10px 16px;
  border-left: 1px solid var(--color-accent);
}

.our-team__quote-text {
  padding: 10px 0 10px 16px;  
  font: var(--font-ml);
  border-left: 1px solid var(--color-accent);
  line-height: 1.6;
}

@media screen and (max-width: 600px) {
  .our-team  .collapsing__title {
    font: var(--font-l);
  }
} 

@media screen and (max-width: 600px) {
  .our-team__collapse-line {
    display: block;
    color: var(--color-dark-grey);
    height: 1px;
    margin: 0;
  }
}

.our-team__collapse-line {
  display: none;
}

@media screen and (max-width: 600px) {
  .our-team__collapse-line {
    display: block;
    color: var(--color-dark-grey);
    height: 1px;
    margin: 0;
  }
}

.our-team__photo {
  grid-area: photo;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .our-team__photo {
    height: 420px;
    margin: 0 0 10px;
  }
}


.our-team .collapsing__container {
  border-top: 1px solid var(--color-dark-grey);
}

.our-team .collapsing__bottom-line {
  border-bottom: 1px solid var(--color-dark-grey);
  padding: 10px 0 0;
}
