@import url("./vendor/normalize.css");
@import url("./components/Header/Header.css");
@import url("./components/Footer/Footer.css");
@import url("./components/common/Preloader/Preloader.css");
@import url("./components/common/CollapsingField/CollapsingField.css");
@import url("./styles.css");

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --primary-font-family: "Montserrat", sans-serif, Arial, Helvetica;

  --font-h-xl: 500 4.375rem/1.1 "Montserrat";
  --font-h-l: 500 3.0625rem/1.2 "Montserrat";
  --font-h-m: 500 1.75rem/1.3 "Montserrat";
  --font-h-s: 500 1.375rem/1.3 "Montserrat";

  --font-l: 400 1.25rem/1.5 "Montserrat";
  --font-ml: 400 1.125rem/1.3 "Montserrat";
  --font-m: 400 1rem/1.5 "Montserrat";
  --font-s: 400 0.9375rem/1.6 "Montserrat";
  --font-xs: 400 0.875rem/1.6 "Montserrat";

  --primary-bg-color: #191919;
  --secondary-bg-color: #f4f5f6;

  --color-grey: #b5b1b1;
  --color-l-grey: #e7e7e7;
  --color-m-grey: #c7c5c5;
  --color-dark-grey: #323232;
  --color-accent: #bba187;
  --color-visited: #927b66;
  --color-black: #191919;
  --color-white: #ffffff;
  --color-white2: #f0f3f5;
  --color-white3: #f5f5f5;
  --color-error: #d22f2f;
}

@media screen and (max-width: 1200px) {
  :root {
    --font-h-xl: 500 3.6rem/1.1 "Montserrat";
    --font-h-l: 500 2.75rem/1.2 "Montserrat";
    --font-h-m: 500 1.5rem/1.3 "Montserrat";
    --font-h-s: 500 1.25rem/1.3 "Montserrat";

    --font-l: 400 1.175rem/1.5 "Montserrat";
    --font-ml: 400 1.08rem/1.3 "Montserrat";
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --font-h-xl: 500 3.375rem/1.1 "Montserrat";
    --font-h-l: 500 2.5625rem/1.2 "Montserrat";
    --font-h-m: 500 1.35rem/1.3 "Montserrat";
    --font-h-s: 500 1.125rem/1.3 "Montserrat";

    --font-l: 400 1.125rem/1.5 "Montserrat";
    --font-ml: 400 1.06rem/1.3 "Montserrat";
    --font-m: 400 0.95rem/1.5 "Montserrat";
    --font-s: 400 0.9rem/1.6 "Montserrat";
    --font-xs: 400 0.85rem/1.6 "Montserrat";
  }
}

@media screen and (max-width: 800px) {
  :root {
    --font-h-xl: 500 3rem/1.1 "Montserrat";
    --font-h-l: 500 2rem/1.2 "Montserrat";
    --font-h-m: 500 1.25rem/1.3 "Montserrat";
    --font-h-s: 500 1rem/1.3 "Montserrat";

    --font-l: 400 1rem/1.5 "Montserrat";
    --font-ml: 400 1rem/1.3 "Montserrat";
    --font-m: 400 0.9rem/1.5 "Montserrat";
    --font-s: 400 0.95rem/1.6 "Montserrat";
    --font-xs: 400 0.85rem/1.6 "Montserrat";
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.page {
  display: flex;
  font-family: var(--primary-font-family);
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  background: var(--color-black);
}

.page.page_light {
  background: var(--color-white3);
}

.page__wrapper .wrapper {
  max-width: 1440px;
  margin: 240px auto 0;
  padding: 0 46px;
}

@media screen and (max-width: 1000px) {
  .page__wrapper .wrapper {
    margin: 180px auto 0;
    padding: 0 30px;
  }
}

@media screen and (max-width: 800px) {
  .page__wrapper .wrapper {
    margin: 150px auto 0;
  }
}

@media screen and (max-width: 600px) {
  .page__wrapper .wrapper {
    margin: 120px auto 0;
    padding: 0 15px;
  }
}

@keyframes header {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes hero-image {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes hero-content {
  0% {
    transform: translate(-50%, 0%);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 0%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes project-hero-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hero-overlay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main ~ .main-page .hero__bg-img {
  animation: hero-image ease-out 1s;
}
.main ~ .main-page .page-title__content {
  animation: hero-content ease-out 2s;
}
.main.header {
  animation: header ease-out 2.8s;
}

.main ~ .main-page .hero__overlay {
  animation: hero-overlay ease-out 2s;
}
/* 
.project-page .hero {
  animation: project-hero-fadein 0.25s ease-out forwards;
} */
