@import url("../../components/ProjectSample/ProjectSample.css");

.portfolio__tags {
  margin: 80px auto 0;
  display: flex;
  justify-content: center;
  gap: 24px;
}

@media screen and (max-width: 600px) {
  .portfolio__tags {
    margin: 40px auto 0;
  }
}

.portfolio__tag {
  color: var(--color-grey);
  font: var(--font-ml);
  cursor: pointer;
  /* border-bottom: 1px solid var(--color-black); */
  transition: color 0.3s ease-out, border-bottom 0.25s ease-out;
}

.portfolio__tag:hover {
  color: var(--color-black);
}

@media screen and (max-width: 600px) {
  .portfolio__tag {
    font: var(--font-m);
  }
}

.portfolio__tag.enabled {
  color: var(--color-black);
  padding-bottom: 3px;
  /* border-bottom: 1px solid var(--color-black); */
}

.portfolio__tag:after {
  display: block;
  content: "";
  border-bottom: 1px solid var(--color-black);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.portfolio__tag.enabled:after {
  opacity: 1;
}

.page__wrapper .wrapper.portfolio__items-container {
  margin: 24px auto 100px;
}

@media screen and (max-width: 600px) {
  .page__wrapper .wrapper.portfolio__items-container {
    margin: 24px auto 0px;
  }
}

.portfolio__items-container {
  padding: 0 46px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px 10px;
}

@media screen and (max-width: 1050px) {
  .portfolio__items-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__items-container {
    display: flex;
    flex-direction: column;
    gap: 20px 10px;
  }
}

@media screen and (min-width: 1050px) {
  .portfolio__items-container :nth-child(5n + 1) {
    grid-column: span 2;
  }
}
