.details {
  display: flex;
  flex-direction: column;
  margin: 80px auto 0;
}

@media screen and (max-width: 600px) {
  .details {
    margin: 60px auto 0;
  }
}

.details__title {
  margin: 0;
  font: var(--font-h-l);
}

@media screen and (max-width: 600px) {
  .details__title {
    font-size: 2.06rem;
  }
}

.details__container {
  margin: 48px 0 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .details__container {
    margin: 24px 0 0;
    gap: 16px;
  }
}

.details__item-container {
  font: var(--font-ml);
  line-height: 1.6;
  font-weight: 500;
  display: flex;
}

@media screen and (max-width: 800px) {
  .details__item-container {
    flex-direction: column;
    gap: 6px;
  }
}

@media screen and (max-width: 600px) {
  .details__item-container {
    font: var(--font-m);
  }
}

.details__item-topic {
  min-width: 40%;
  line-height: 1.6;
  font-weight: 500;
  color: var(--color-grey);
  padding: 0 0 18px;
}

@media screen and (max-width: 1200px) {
  .details__item-topic {
    padding: 0 0 9px;
  }
}

@media screen and (max-width: 800px) {
  .details__item-topic {
    padding: 0;
  }
}

.details__item-details {
  color: var(--color-black);
}

.details__scroll {
  margin: 20px 0 0;
  text-transform: uppercase;
  padding: 0 0 5px;
  border: none;
  border-bottom: 1px dashed #000000;
  width: fit-content;
  background: transparent;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.details__scroll:hover {
  color: var(--color-accent);
  border-bottom: 1px dashed var(--color-accent);
}

@media screen and (max-width: 600px) {
  .details__scroll {
    margin: 30px 0 0;
    letter-spacing: 0.03rem;
    padding: 0 0 1px;
    font: var(--font-xs);
  }
}
